@model Slider

@{
    ViewData["Title"] = "Edit";
}


<div class="container my-5">
    <h1>Slider</h1>
    <div class="slider-content my-5">
        <img src="~/img/@Model.Image" />
    </div>
   <form class="form-sample">

        <input type="file" class="form-control" id="customFile"/>
        <div class="buttons my-3">
           <button type="submit" class="btn btn-primary mr-2">Submit</button>
           <a class="btn btn-light" asp-action="Index">Cancel</a>
        </div>

    </form>

</div>

